src/dist/index.html
<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
  <link rel="stylesheet" href="styles.css"/>
  <title>Главная</title>
</head>
<body>
  <header class="site-header">
    <div class="container">
      <div class="main-nav">
        <div class="logo"><img src="./img/logo.png" alt="логотип компании"/></div>
        <div class="icons">
          <ul class="icons__list">
            <li class="icons__item">
              <icons__icon><img src="./img/icons/icon1.png" alt="icon1"/></icons__icon>
              <p class="icons__text">Mon – Fri: 10AM – 7PM</p>
              <p class="icons__text">Sat – Sun: 10AM – 3PM</p>
            </li>
            <li class="icons__item">
              <icons__icon><img src="./img/icons/icon1.png" alt="icon1"/></icons__icon>
              <p class="icons__text">Mon – Fri: 10AM – 7PM</p>
              <p class="icons__text">Sat – Sun: 10AM – 3PM</p>
            </li>
          </ul>
        </div>
        <div class="socials">
          <ul class="socials__list">
            <li class="socials__item socials__item--vk"><a class="socials__link socials__link--vk" href="http://vk.com"></a></li>
            <li class="socials__item socials__item--fb"><a class="socials__link socials__link--fb" href="http://facebook.com"></a></li>
            <li class="socials__item socials__item--in"><a class="socials__link socials__link--in" href="http://instagramm.com"></a></li>
            <li class="socials__item socials__item--ok"><a class="socials__link socials__link--ok" href="http://ok.ru"></a></li>
          </ul>
        </div>
        <div class="info">
          <ul class="info__list">
            <li class="info__item"><a class="info__link" href="tel: 335252">33-52-52</a></li>
            <!--li.info__item: a.info__link(href="tel: +79637385252") +7(963) 738-52-52-->
          </ul><a class="button" href="#">Заказать звонок</a>
        </div>
      </div>
    </div>
    <div class="main-menu">
      <div class="container">
        <ul class="main-menu__list">
          <li class="main-menu__item"><a class="main-menu__link" href="#about">О нас</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#services">Услуги</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#projects">Наши работы</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#discounts">Скидки</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#guarantees">Гарантии</a></li>
          <li class="main-menu__item"><a class="main-menu__link" href="#contacts">Контакты</a></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="hero">
    <div class="container">
      <div class="hero__motto">
        <h1 class="hero__title">Ремонт квартиры под ключ!</h1>
        <h2 class="hero__subtitle">от 2500руб / м<sup>2<sup></h2><a class="button button--calc" href="#">Калькулятор стоимости</a>
      </div>
      <div class="form__container">
        <div class="form">
          <h3 class="form__title">Получить скидку</h3>
          <form class="form__form" action="order.php" method="POST">
            <div class="form__group">
              <input class="form__input" type="text" placeholder="Ваше имя"/>
            </div>
            <div class="form__group">
              <input class="form__input" type="phone" placeholder="Ваш номер"/>
            </div>
            <div class="form__group">
              <textarea class="form__textarea" placeholder="Ваше сообщение"></textarea>
            </div>
            <div class="button__container">
              <input class="button button--form" type="submit" value="Отправить"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="about">
    <div class="container">
      <div class="about__title">Наши услуги</div>
      <div class="about__container">
        <article class="about__card">
          <div class="about__img"><img src="./img/card1.jpg"/></div>
          <div class="about__body">
            <div class="about__card-title">Косметический ремонт</div>
            <div class="about__card-price">от 990 руб./ м<sup>2<sup/></div>
            <div class="about__card-description">Подходит для быстрого обновления интерьера</div>
            <ul class="about__list">
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
            </ul>
          </div>
          <div class="about__footer">
            <div class="about__duration">Сроки ремонта: 10-30 дней</div>
            <div class="button__container"><a class="button button--calc" href="#">Получить расчет</a></div>
          </div>
        </article>
        <article class="about__card">
          <div class="about__img"><img src="./img/card1.jpg"/></div>
          <div class="about__body">
            <div class="about__card-title">Косметический ремонт</div>
            <div class="about__card-price">от 990 руб./ м<sup>2<sup/></div>
            <div class="about__card-description">Подходит для быстрого обновления интерьера</div>
            <ul class="about__list">
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
            </ul>
          </div>
          <div class="about__footer">
            <div class="about__duration">Сроки ремонта: 10-30 дней</div>
            <div class="button__container"><a class="button button--calc" href="#">Получить расчет</a></div>
          </div>
        </article>
        <article class="about__card">
          <div class="about__img"><img src="./img/card1.jpg"/></div>
          <div class="about__body">
            <div class="about__card-title">Косметический ремонт</div>
            <div class="about__card-price">от 990 руб./ м<sup>2<sup/></div>
            <div class="about__card-description">Подходит для быстрого обновления интерьера</div>
            <ul class="about__list">
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
              <li class="about__item">Демонтаж старых покрытий</li>
            </ul>
          </div>
          <div class="about__footer">
            <div class="about__duration">Сроки ремонта: 10-30 дней</div>
            <div class="button__container"><a class="button button--calc" href="#">Получить расчет</a></div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="projects">
    <h3 class="about__title about__title--white">Наши проекты</h3>
    <div class="projects__container">
      <article class="projects__item">
        <div class="projects__img"><img src="./img/card1.jpg"/></div>
        <div class="projects__content">
          <div class="project__title">Ремонт на Киевской</div>
          <div class="project__text">This house was completely maintained by our experts.</div>
          <div class="button__container"><a class="button button--project" href="#">Подробнее</a></div>
        </div>
      </article>
      <article class="projects__item">
        <div class="projects__img"><img src="./img/card1.jpg"/></div>
        <div class="projects__content">
          <div class="project__title">Ремонт на Киевской</div>
          <div class="project__text">This house was completely maintained by our experts.</div>
          <div class="button__container"><a class="button button--project" href="#">Подробнее</a></div>
        </div>
      </article>
      <article class="projects__item">
        <div class="projects__img"><img src="./img/card1.jpg"/></div>
        <div class="projects__content">
          <div class="project__title">Ремонт на Киевской</div>
          <div class="project__text">This house was completely maintained by our experts.</div>
          <div class="button__container"><a class="button button--project" href="#">Подробнее</a></div>
        </div>
      </article>
      <article class="projects__item">
        <div class="projects__img"><img src="./img/card1.jpg"/></div>
        <div class="projects__content">
          <div class="project__title">Ремонт на Киевской</div>
          <div class="project__text">This house was completely maintained by our experts.</div>
          <div class="button__container"><a class="button button--project" href="#">Подробнее</a></div>
        </div>
      </article>
      <article class="projects__item">
        <div class="projects__img"><img src="./img/card1.jpg"/></div>
        <div class="projects__content">
          <div class="project__title">Ремонт на Киевской</div>
          <div class="project__text">This house was completely maintained by our experts.</div>
          <div class="button__container"><a class="button button--project" href="#">Подробнее</a></div>
        </div>
      </article>
      <article class="projects__item">
        <div class="projects__img"><img src="./img/card1.jpg"/></div>
        <div class="projects__content">
          <div class="project__title">Ремонт на Киевской</div>
          <div class="project__text">This house was completely maintained by our experts.</div>
          <div class="button__container"><a class="button button--project" href="#">Подробнее</a></div>
        </div>
      </article>
      <article class="projects__item">
        <div class="projects__img"><img src="./img/card1.jpg"/></div>
        <div class="projects__content">
          <div class="project__title">Ремонт на Киевской</div>
          <div class="project__text">This house was completely maintained by our experts.</div>
          <div class="button__container"><a class="button button--project" href="#">Подробнее</a></div>
        </div>
      </article>
      <article class="projects__item">
        <div class="projects__img"><img src="./img/card1.jpg"/></div>
        <div class="projects__content">
          <div class="project__title">Ремонт на Киевской</div>
          <div class="project__text">This house was completely maintained by our experts.</div>
          <div class="button__container"><a class="button button--project" href="#">Подробнее</a></div>
        </div>
      </article>
      <!--.button__container-->
      <!--    a.button.button--center(href="#") Посмотреть все проекты-->
    </div>
  </section>
  <section class="discounts">
    <div class="container">
      <h3 class="discounts__title">Скидки и акции</h3>
      <p class="discounts__subtitle">Приятные скидки и подарки каждому клиенту!</p>
    </div>
  </section>
</body>
<script src="app.js"></script>

src/index.pug
<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel="stylesheet" href="styles.css")
    title Главная
body
    header.site-header
        .container
            .main-nav
                .logo: img(src="./img/logo.png" alt="логотип компании")
                .icons
                    ul.icons__list
                            li.icons__item
                                icons__icon: img(src="./img/icons/icon1.png" alt="icon1")
                                p.icons__text Mon – Fri: 10AM – 7PM
                                p.icons__text Sat – Sun: 10AM – 3PM

                            li.icons__item
                                icons__icon: img(src="./img/icons/icon1.png" alt="icon1")
                                p.icons__text Mon – Fri: 10AM – 7PM
                                p.icons__text Sat – Sun: 10AM – 3PM
                .socials
                    ul.socials__list
                        - var socials = ['vk','fb','in','ok']
                        - var socialsLink = ['http://vk.com', 'http://facebook.com', 'http://instagramm.com', 'http://ok.ru']
                        each item, key in socials
                            li(class="socials__item socials__item--"+ socials[key]): a(href=socialsLink[key] class="socials__link socials__link--"+socials[key] )

                .info
                    ul.info__list
                        li.info__item: a.info__link(href="tel: 335252") 33-52-52
                        //li.info__item: a.info__link(href="tel: +79637385252") +7(963) 738-52-52
                    a.button(href="#") Заказать звонок
        .main-menu
            .container
                ul.main-menu__list
                    - var menuItem = ['О нас', 'Услуги', 'Наши работы', 'Скидки','Гарантии', 'Контакты']
                    - var menuLinks = ['#about','#services','#projects','#discounts', '#guarantees', '#contacts']
                        each item, key in menuItem
                            li.main-menu__item: a.main-menu__link(href=menuLinks[key])=menuItem[key]

    section.hero
        .container
            .hero__motto
                h1.hero__title Ремонт квартиры под ключ!
                h2.hero__subtitle от 2500руб / м<sup>2<sup>
                a.button.button--calc(href="#") Калькулятор стоимости
            .form__container
                .form
                    h3.form__title Получить скидку
                    form.form__form(action="order.php" method="POST")
                        .form__group
                            input.form__input(type="text" placeholder="Ваше имя")
                        .form__group
                            input.form__input(type="phone" placeholder="Ваш номер")
                        .form__group
                            textarea.form__textarea(placeholder="Ваше сообщение" )
                        .button__container
                            input.button.button--form(type="submit" value="Отправить")

    section.about
        .container
            .about__title Наши услуги

            .about__container
                article.about__card
                    .about__img: img(src="./img/card1.jpg")
                    .about__body
                        .about__card-title Косметический ремонт
                        .about__card-price от 990 руб./ м<sup>2<sup/>
                        .about__card-description Подходит для быстрого обновления интерьера
                        ul.about__list
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                                li.about__item Демонтаж старых покрытий
                    .about__footer
                            .about__duration Сроки ремонта: 10-30 дней
                            .button__container
                                a.button.button--calc(href="#") Получить расчет


                article.about__card
                    .about__img: img(src="./img/card1.jpg")
                    .about__body
                        .about__card-title Косметический ремонт
                        .about__card-price от 990 руб./ м<sup>2<sup/>
                        .about__card-description Подходит для быстрого обновления интерьера
                        ul.about__list
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                    .about__footer
                        .about__duration Сроки ремонта: 10-30 дней
                        .button__container
                            a.button.button--calc(href="#") Получить расчет

                article.about__card
                    .about__img: img(src="./img/card1.jpg")
                    .about__body
                        .about__card-title Косметический ремонт
                        .about__card-price от 990 руб./ м<sup>2<sup/>
                        .about__card-description Подходит для быстрого обновления интерьера
                        ul.about__list
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                            li.about__item Демонтаж старых покрытий
                    .about__footer
                        .about__duration Сроки ремонта: 10-30 дней
                        .button__container
                            a.button.button--calc(href="#") Получить расчет

    section.projects
        h3.about__title.about__title--white Наши проекты
        .projects__container
            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                        .project__title Ремонт на Киевской
                        .project__text This house was completely maintained by our experts.
                        .button__container
                            a.button.button--project(href="#") Подробнее

            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее

            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее

            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее

            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее

            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее
            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее
            article.projects__item
                .projects__img: img(src="./img/card1.jpg")
                .projects__content
                    .project__title Ремонт на Киевской
                    .project__text This house was completely maintained by our experts.
                    .button__container
                        a.button.button--project(href="#") Подробнее
            //.button__container
            //    a.button.button--center(href="#") Посмотреть все проекты


    section.discounts: .container
        h3.discounts__title Скидки и акции
        p.discounts__subtitle Приятные скидки и подарки каждому клиенту!
script(src="app.js")
